/*external*/
body 
{

   background-image: url(../images/pic00.jpg);
    margin: 10px;
    background-repeat: no-repeat;
    background-size:cover;
}

header 
{
    /*position:fixed;*/
    top:0;
   width: 100%;
}

section {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 30px;
   
    
   }
article {
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
}
/*--link style--*/
nav>ul>li {
    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;

}
nav>ul>li>a {
    text-decoration: none;   
}
nav>ul>li>a:hover {
background-color:burlywood;
} 
.title {
    font-size: 23px;
    font-weight: bold;
}
.date {
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
}
#top{
    margin-top: 40px;

}
img{
    float: center;
    width: 30%;
    margin-left: 1.6%;
}
#gallery{
    text-align: center;
    width: 100%;
    border-bottom: solid sandybrown 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
/*contact css */
#cont {
    padding-bottom: 100px;
    
}
#cont div {
    position: relative;
    margin-bottom: 15px;
}

#cont input {
 position: absolute;
 left: 100px;
}

input[type=submit] {
    width: 60px;
    height: 40px;
}

#location {
    position: absolute;
    top: 450px;
    left: 40%;
}
.profile{
    
    margin-top: 40px;
    border-radius: 50%;  
}

#name {
    position: absolute;
    top: 200px;
    right:30%;
}
footer {
    border-top: solid black 1px;
    margin-top: 100px;

}
footer div {
    border-bottom: solid black 1px;
    padding-bottom: 5px; 
}
