/*question two*/
table {
    margin: auto;
}

td {
    width: 100px;
    height: 100px;
}
.vertical {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.horizontal{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
h1{
    text-align: center;

}
nav>ul>li {
    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;

}
nav>ul>li>a {
    text-decoration: none;   
}
nav>ul>li>a:hover {
background-color:burlywood;
} 
/*question one*/

.bo{
    
    background-color: #bdc3c7;
}
h1{
    color: #9b59b6;
}
h2{
    color: orange;

}
div ul li{
    color: blueviolet;
}
body p{
    color: yellow;
}
input{
    border: 3px red solid;
}
.active{
    background-color: white;
}
#one{
    border: rgb(53, 53, 255) solid 2px;
}
div p{
    font-size: 25px;
}
input[type=text]:focus{
    background-color: grey;
}
div em{
    color: white;
    font-size: 20px;
}

input[type=checkbox]:checked{
    margin-left: 50px;
}
label{
    text-transform: uppercase;
}
#one .position-tester p::first-letter{
    font-size: 100px;
   
}
h1:hover{
    color: lightcoral;
}
a:visited{
    color: gray;
}
/*question 3*/
.new {
    padding: 0px;
    margin: 20px;
    
}
.bangladish {
    background: green;
    width: 400px;
    height: 200px;
    padding: 10px;
}
.bangladish figure {
background: red;
width: 100px;
height: 100px;
border-radius: 50%;
margin-left: 140px;
margin-top: 50px;
}
.flag li {
list-style-type: none;
width: 400px;
height: 50px;
padding: 5px;
}
.flag li:nth-child(1){
    background-color:red;
}
.flag li:nth-child(2){
    background-color:white;
}
.flag li:nth-child(3) {
    background-color: blue;
}
.fla li {
    list-style-type: none;
    width: 400px;
    height: 50px;
    padding: 5px;
    }
.fla li:nth-child(1){
        background-color:green;
    }
.fla li:nth-child(2){
        background-color:yellow;

    }
.fla li:nth-child(3) {
        background-color:red;
    }

.fla1 li {
        list-style-type: none;
        width: 400px;
        height: 50px;
        padding: 5px;
    }
.fla1 li:nth-child(1){
            background-color:green;
    }
.fla1 li:nth-child(2){
            background-color:yellow;
    
    }
.fla1 li:nth-child(3) {
            background-color:red;
    }    
